---
import { getCollection } from "astro:content";
import PageLayout from "@/layouts/Base";
import PostPreview from "@/components/blog/PostPreview";
import { sortMDByDate } from "@/utils";
import siteMeta from "@/site-config";

const allPosts = await getCollection("post");
const allPostsByDate = sortMDByDate(allPosts).slice(0, siteMeta.recentPosts || 10);
---

<PageLayout meta={{ title: "主页" }}>
	<section aria-label="Blog post list" class="mt-10">
		<h2 class="title mb-4 text-xl">Recent Posts</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				allPostsByDate.map((p) => (
					<li class="flex flex-col gap-x-2 sm:flex-row">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
    <div class="mt-6 text-center">
      <a class="group btn btn-sm pl-10 text-sm relative" href="/archive">
        <span class="absolute left-3 group-hover:left-4 transition-[left] ease-in-out">👉</span>
        查看更多
      </a>
    </div>
	</section>
</PageLayout>
