<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<!-- hack iOS CSS :active style -->
<body ontouchstart="">

    {% include nav.html %}

    {{ content }}

    {% include footer.html %}

<!-- 添加页面切换时的title展示 funny thing -->
<script type="text/javascript">
	(function(){
		var hidden, visibilityChange;
		window.title = document.title;

		if (typeof document.hidden !== "undefined") { // Opera 12.10 and Firefox 18 and later support
		  hidden = "hidden";
		  visibilityChange = "visibilitychange";
		} else if (typeof document.msHidden !== "undefined") {
		  hidden = "msHidden";
		  visibilityChange = "msvisibilitychange";
		} else if (typeof document.webkitHidden !== "undefined") {
		  hidden = "webkitHidden";
		  visibilityChange = "webkitvisibilitychange";
		}

		if(typeof document.addEventListener === "undefined" || typeof document[hidden] == "undefined" ){
		    console.log('not support visibility API');
		}else{
		    document.addEventListener(visibilityChange, function(){
		        if(document[hidden]){
		            document.title = '麻麻喊你回家吃饭啦';
		        }else{
		            document.title = "欢迎回来 -_<";

		            setTimeout(function(){
		                document.title = title;
		            }, 2000)
		        }
		    }, false)
		}
	})()

	/*
  *   feat：点击增加一个效果，向上浮现有趣的文字
  */
  $(function(){
    $(document).on('click', function(e){
        var upText = '❤️';

        var pop_dom = '<span class="pop_funny_text" style="top: ' + (e.clientY - 30) + 'px; left: ' + e.clientX + 'px;">' + upText + '</span>';

        $(pop_dom).appendTo('body').animate({
            top: e.clientY - 200,
            opacity: 0
        }, 1000, 'swing', function(){
            $(this).remove();
        });

    })

    // prism js & hack
    $('pre').addClass("line-numbers").css("white-space", "no-wrap");
    async("{% if site.isProd %}{{site.cdnPrefix}}{% else %}{{site.baseurl}}{%endif%}/js/prism.min.js")
  })
</script>
<!-- Image to hack wechat -->
<img src="{% if site.isProd %}{{site.cdnPrefix}}{% else %}{{site.baseurl}}{%endif%}/img/icon_wechat.png" width="0" height="0" />
<!-- Migrate from head to bottom, no longer block render and still work -->

</body>

</html>
